*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: url("https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/620bd6d655f2044afa28bff4_glassmorphism.jpeg");
  color: white;
}

.container {
  width: 100vw;
  text-align: center;
}

.top-wrapper {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  border-bottom: 1px solid white;
}

.top-wrapper h1 {
  margin: 0;
  font-size: 2.6rem;
  letter-spacing: 10px;
  text-shadow: 0 2px 2px black;
}

.top-wrapper h2 {
  letter-spacing: 5px;
  text-shadow: 0 2px 2px black;
}
.bottom-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 150px);
  margin-top: 150px;
}

.container-avatar {
  height: auto;
  flex: 45%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.character {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  padding: 30px;

  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.character-image {
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.character-image img {
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.btn {
  width: auto;
  margin: 20px auto;
  padding: 10px 30px;
  color: white;
  background: transparent;
  border: 3px solid white;
  border-radius: 10px;

  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.18);
}

.container-part {
  padding: 10px;
  flex: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: calc(100vh -160px);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: auto transparent;
}
.container-part::-webkit-scrollbar-track {
  background-color: transparent;
}

.container-part::-webkit-scrollbar {
  background-color: transparent;
}

.container-part::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.title-part {
  text-transform: uppercase;

  letter-spacing: 10px;
  color: white;
  text-shadow: 0 2px 2px black;
}

.item-part {
  width: 100%;
  margin: 20px 10px;
  padding: 5px;
  border-radius: 10px;
  border: 5px solid white;
}

.image-part {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.2s ease;
  overflow: hidden;
}

.mouths.mouths.mouths img {
  transform: scale(2.4);
}
.eyebrows.eyebrows.eyebrows img {
  transform: scale(2.5) translateY(14%);
}
.glasses.glasses.glasses img {
  transform: scale(1.4) translateY(14%);
}

.facial_hair.facial_hair.facial_hair img {
  transform: scale(1.5);
}

.earrings.earrings.earrings img {
  transform: scale(2.6) translate(-22%, -5%);
}

.clothes-l3.clothes-l3.clothes-l3 img {
  transform: scale(1.8) translate(-1%, -25%);
}
.neckwear.neckwear.neckwear img {
  transform: scale(2) translateY(-30%);
}
.eyes.eyes.eyes img {
  transform: scale(2.1) translateY(10%);
}

.image-part:hover,
.active {
  border: 1px solid rgba(255, 255, 255);

  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.8)
  );
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.image-part img {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .top-wrapper {
    position: relative;
    height: 13vh;
  }

  .top-wrapper h1 {
    font-size: 2rem;
  }
  .top-wrapper h2 {
    font-size: 1.2rem;
  }
  .character {
    width: 260px;
    height: 260px;
  }
  .bottom-wrapper {
    margin-top: 0 !important;
    flex-wrap: wrap;
    height: 87vh;
  }

  .container-avatar {
    flex: 100% !important;
    height: 45%;
  }
  .container-part {
    border-top: 1px solid white;
    flex: 100% !important;
    height: 55%;
  }

  .btn {
    margin-bottom: 0;
  }
}
